* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(39, 37, 37);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.right-side {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
  justify-content: space-between;
}
.pc-page-container {
  display: flex;
  width: 50%;
  padding: 1rem;
}
.logo-container {
  background-color: red;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
}
.logo {
  margin-top: 2rem;
}
.signin-btn {
  color: white;
  border-radius: 9999px;
  border: white 2px solid;
  padding: 0.5rem;
  width: 6rem;
  background-color: transparent;
  margin-bottom: 2rem;
}
.form-container {
  width: 70%;
  background-color: white;
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  color: red;
  font-size: 2.5rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin: 1.25rem 0;
}
.socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0;
}
.socialmedia-logo {
  margin: 0 0.5rem;
  border: 1px solid rgb(229 231 235);
  padding: 0.5rem;
  border-radius: 9999px;
}
.remind {
  text-align: center;
  color: gray;
  margin: 1.25rem 0;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25rem 0;
}
.inputs {
  background-color: rgb(229 231 235);
  padding: 1rem;
  text-indent: 2rem;
  width: 80%;
  margin-bottom: 0.5rem;
  background-position: 2%;
  background-repeat: no-repeat;
  border: none;
}
.input-person {
  background-image: url("./images/img_person.png");
}
.input-mail {
  background-image: url("images/img_mail.png");
}
.input-lock {
  background-image: url("images/img_lock.png");
}
.dropdown {
  background-repeat: no-repeat;
  width: 80%;
  /* margin-bottom: 0.5rem; */
  appearance: none;
  text-indent: 0.25rem;
  background-color: rgb(229 231 235);
  padding: 1rem;
  color: rgb(107 114 128);
  background-image: url("images/img_arrow.png");
  background-position: 97%;
  background-size: 0.75rem;
  border: none;
}
.dropdown:focus {
  outline: none;
  color: black;
}
.dropdown-list {
  background-color: white;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-btn {
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem;
  width: 30%;
  background-color: red;
  margin: 1rem 0 2rem;
}
/*  */
.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 80%;
}

/* Hide the browser's default checkbox */
.label-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.not-robot {
  color: rgba(167, 164, 164, 0.678);
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: rgba(167, 164, 164, 0.678) 3px solid;
}

/* On mouse-over, add a grey background color */
.label-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-container input:checked ~ .checkmark {
  background-color: #f32121;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label-container input:checked ~ .checkmark:after {
  display: block;
}

.label-container input:checked + span {
  color: red;
}

/* Style the checkmark/indicator */
.label-container .checkmark:after {
  left: 9px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*           table             */

/* Pc table */
.pc-table {
  display: flex;
  font-weight: 500;
  color: rgb(100, 100, 100);
}
.single-col {
  display: flex;
  flex-direction: column;
}
.pc-email {
  flex-grow: 1;
}
.pc-status {
  text-align: center;
}
.pc-title {
  background-color: rgb(90, 124, 131);
  color: white;
  font-weight: 700;
  text-align: center;
}
.pc-content {
  background-color: white;
}
.pc-table .denied {
  color: red;
}
.pc-table .approved {
  color: rgb(34, 194, 34);
}
.pc-table .even {
  background-color: #eee;
}
.pc-table .pc-title,
.pc-table .pc-content {
  padding: 1rem;
  border-right: 1px solid rgb(211, 204, 204);
  border-bottom: 1px solid rgb(211, 204, 204);
}

/* pc gallery */
.pc-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2rem;
  flex-grow: 1;
}
.pc-gallery-img {
  width: 17%;
  border: 2px white solid;
  border-radius: 10%;
}

/* m table */
.m-table {
  display: none;
  font-size: large;
}
.m-table-row {
  display: flex;
  margin-bottom: 2rem;
  background-color: white;
}
.m-table-left {
  display: flex;
  flex-direction: column;
  background-color: rgb(90, 124, 131);
  color: white;
  font-weight: 700;
  text-indent: 2rem;
  width: 40%;
}
.m-table-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-weight: 500;
  color: rgb(100, 100, 100);
  text-align: center;
}
.m-table-title {
  padding: 1.25rem;
  border-bottom: 1px solid rgb(211, 204, 204);
  border-right: 1px solid rgb(211, 204, 204);
}
.m-table-content {
  padding: 1.25rem;
  border-bottom: 1px solid rgb(211, 204, 204);
}
.m-table .even {
  background-color: #eee;
}
.m-table .denied {
  color: red;
}
.m-table .approved {
  color: rgb(34, 194, 34);
}

/* RWD */
@media screen and (max-width: 768px) {
  .App {
    display: block;
    width: 100%;
  }
  .right-side {
    width: 100%;
  }
  .pc-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .logo-container {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 4%;
    border-bottom-left-radius: 0;
  }
  .logo {
    margin-top: 0;
    padding: 1rem;
  }
  .signin-btn {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .form-container {
    width: 100%;
    background-color: white;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4%;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .signup-btn {
    padding: 1rem;
    width: 80%;
  }
  .pc-table {
    display: none;
  }
  .m-table {
    display: block;
  }
  .pc-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
  }
  .pc-gallery-img {
    width: 30%;
    margin-bottom: 1rem;
    border: 2px white solid;
    border-radius: 10%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .pc-table .pc-title,
  .pc-table .pc-content {
    padding: 0.25rem;
  }
}
